<p id="notice"><%= notice %></p>

<h1>Subtaskings</h1>

<% if Subtasking.none? %>

  <p>Currently no subtaskings</p>

<% else %>

  <table>
    <thead>
      <tr>
        <th>Supertask</th>
        <th>Subtask</th>
      </tr>
    </thead>

    <tbody>
      <% @subtaskings.each do |subtasking| %>
        <tr>
          <td><%= subtasking.supertask.title %></td>
          <td><%= subtasking.subtask.title %></td>
          <td><%= link_to 'Show', subtasking %></td>
          <td><%= link_to 'Edit', edit_subtasking_path(subtasking) %></td>
          <td><%= link_to 'Destroy', subtasking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<br>

<%= link_to 'New Subtasking', new_subtasking_path %>
