<div class="tasks-index">
  <h1 class="title">All tasks</h1>

  <section class="list">
    <% @tasks.each do |task| %>
    <div class='list__card'>
      <h5 class="title">
        <%= task.title %>
      </h5>
      <p class="description">
        <%= task.description.gsub(' ', '') == '' ? 'No description' : task.description %>
      </p>
      <div class="links">
        <%= link_to "View Task", task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete %>
      </div>
    </div>
    <% end %>
  </section>
  <br>
  <%= render "form", task: Task.new %>

</div>