<div class="tasks-index">
  <h1 class="tasks-index__title">All tasks</h1>

  <section class="tasks-index__list">
    <% @tasks.each do |task| %>
    <div class='card'>

      <h5 class="card__title">
        <%= task.title %>
      </h5>

      <p class="card__description">
        <%= task.description %>
      </p>

      <div class="card__links">
        <%= link_to "View Task", task %>
        <%= link_to 'Edit', edit_task_path(task) %>
        <%= link_to 'Destroy', task, method: :delete %>
      </div>

      <%= render partial: 'subtask_form', locals: { 
        subtasking: task.subtask_subtaskings.first,
        html_options: {class: 'card__form'}}
        %>

    </div>
    <% end %>
  </section>
  <br>
  <%= render "form", task: @new_task %>
</div>