<p id="notice"><%= notice %></p>
<h2><%= @task.title %></h2>
<h5><%= @task.description %></h5>

<%= render 'subtasks_and_supertasks' %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
